.text-box {

font-weight: 800;
}

/* .full-size-height {
height: 100vh;

} */

.hero-box {
/* width: 100vh; */
}


.hero-text-1 {
    font-size: 8vw;
}

.hero-text-2 {
    font-size: 8vw;}

.hero-text-2:hover {
background-color:#ffcf84;    
    }

.hero-text-3 {font-size: 9vw;}

.nav-link:hover {

}


/* For Mobile Devices (320px - 480px) */
@media screen and (min-width: 320px) and (max-width: 480px) {
    /* Your CSS styles for mobile devices here */
        
    .hero-text-1 {
            font-size: 13vw;
        }
        
    .hero-text-2 {
            font-size: 8vw;}
        
        .hero-text-2:hover {
        background-color:#ffcf84;    
            }

        .hero-text-3 {font-size: 7.3vw;}
        
        .hero-box {

            height: 100vh;
        

        }

.navbar-nav >li {

    margin-top: 15px;
    width: 100%;

}


    }




  
  /* For iPads and Tablets (481px - 768px) */
  @media screen and (min-width: 481px) and (max-width: 768px) 
  {
    /* Your CSS styles for iPads and Tablets here */
    .hero-text-1 {
        font-size: 13vw;
    }
    
.hero-text-2 {
        font-size: 9vw;}
    
    .hero-text-2:hover {
    background-color:#ffcf84;    
        }
        
    .hero-text-3 {font-size: 8vw;}

  
}
  
  /* For TV and Extra Large Screens (1201px and more) */
  @media screen and (min-width: 769px) 
  {
    /* Your CSS styles for TV and extra large screens here */

    .hero-text-1 {
        font-size: 12vw;
    }
    
.hero-text-2 {
        font-size: 8.3vw;}
    
    .hero-text-2:hover {
    background-color:#ffcf84;    
        }    
    .hero-text-3 {font-size: 7.6vw;
    }
    


  }

  .about-me-text-1 {
font-size: 6vw;
}


.topp {

margin-top: 56px;}


.custom-padding-contact-me-page {
padding-left:0 !important ;
padding-right:0 !important;
}